<% if report.records.size > 0 %>
    <table class="<%= QueryReport.config.record_table_class %>" cellpadding="0" cellspacing="0">
      <thead>
      <% report.columns.each do |column| %>
          <th><%= column.sortable? ? sort_link(report.search, column.name, params, remote: @remote) : column.humanize %></th>
      <% end %>
      </thead>

      <tbody>
      <% records = report.has_any_rowspan? ? report.records_with_rowspan : report.records %>
      <% records.each do |record| %>
          <tr>
            <% report.columns.each do |column| %>
                <% value = record[column.humanize]
                   align = column.align
                   align_attr = align ? "align=#{align.to_s}" : ''
                %>
                <% if value.kind_of?(Hash) %>
                    <td rowspan="<%= value[:rowspan] %>" <%= align_attr %> ><%= value[:content] %></td>
                <% elsif record.has_key?(column.humanize) %>
                    <td <%= align_attr %>><%= value %></td>
                <% end %>
            <% end %>
          </tr>
      <% end %>
      <%= render :partial => "query_report/record_footer", locals: {report: report} %>
      </tbody>
    </table>
<% else %>
    <p>No record found</p>
<% end %>