<% if report.records.size > 0 %>
    <table class="<%= QueryReport.config.record_table_class %>" cellpadding="0" cellspacing="0">
      <thead>
      <% report.columns.each do |column| %>
          <th><%= column.sortable? ? sort_link(report.search, column.sort_link_attribute, get_column_header(column), params, remote: @remote) : get_column_header(column) %></th>
      <% end %>
      </thead>

      <tbody>
      <% report.records_to_render.each do |record| %>
          <tr>
            <% report.columns.each do |column| %>
                <% value = record[column.humanize]
                   align = column.align
                   align_attr = align ? "class=queryreport-td-align-#{align.to_s}" : ''
                %>
                <% if value.kind_of?(Hash) %>
                    <td rowspan="<%= value[:rowspan] %>" <%= align_attr %> ><%= value[:content] %></td>
                <% elsif record.has_key?(column.humanize) %>
                    <td <%= align_attr %>><%= value %></td>
                <% end %>
            <% end %>
          </tr>
      <% end %>
      <%= render :partial => "query_report/record_footer", locals: {report: report} %>
      </tbody>
    </table>
<% else %>
    <p><%= t('query_report.no_record_found') %></p>
<% end %>